@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* #00AEEF #ff5722 #0A3D62 */

/* :root {
    --background-1: #000000;
    --background-2: rgb(20, 20, 20);
    --text: white;
    --paragraph: rgb(224, 224, 224);
    --accent: #0099ff;
    --second-color: #00204a;
    --gradient: linear-gradient(135deg, #0099ff, #00aaff);
} */

:root {
    --background-1: white;
    --background-2: #f4f4f4;
    --background-3: #ddd;
    --text: #eee;
    --accent: #0099ff;
}


/* GLOBAL SECTIONS  */

html, body {
    width: 100%;
}

section {
    padding: 25px 8%;
}

section #logo {
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: bold;
}

section h2 {
    font-size: 1.5rem;
    color: var(--background-1);
}

section p {
    font-size: 1.1rem;
    color: var(--background-3);
    line-height: 1.6;
}

section ul {
    color: var(--text);
    list-style: none;
}

/* GLOBAL SECTIONS END */

/* HEADER  */
#header {
    background: var(--background-1);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.219);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    transition: 1s ease;
    font-size: 1.1rem;
    font-family: 'Poppins' sans-serif;
    color: var(--accent);
}

.nav-links li a:hover {
    color: var(--accent);
}

/* BURGER */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--accent);
    margin: 3px 0;
    transition: 0.5s;
}

/* Responsive */
@media screen and (max-width: 768px) {

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        right: 25px;
        top: 29px;
        z-index: 1000;
    }
    
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--background-3);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.219);
        width: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        transition: width 0.5s ease;
    }

    .nav-links.active {
        width: 250px;
    }

    .nav-links li {
        text-align: center;
        padding: 10px;
    }
}

#hero {
    background: url(img/alpes.jpg);
    height: 85vh;
}

.hero-content {
    margin-bottom: 20px;
}

.hero h2 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: 1s ease;
    width: 100%;
}


/* Login Form */

.connection {
    min-height: auto;
    height: auto;
    padding: 25px 8%;
    background: var(--background-2);
}

#loginContainer {
    background: var(--background-1);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.055);
    border-radius: 4px;
}

#loginContainer h2 {
    font-size: 1.5rem;
    color: var(--accent);
    margin-bottom: 10px;
}

::placeholder {
    color: gray;
    font-size: rem;
}

#loginContainer input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--background-3);
    border-radius: 4px;
    outline: none;
    transition: color 1s ease;
}

#loginContainer button {
    background: var(--accent);
    color: var(--background-1);
}

/* To-Do List */

.appk {
    height: auto;
    min-height: auto;
    padding: 25px 8%;
    background: var(--background-2);
}

input, .btn {
    font-size: 15px;
    outline: none;
}

#todoApp {
    background: var(--background-1);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.055);
    border-radius: 4px;
}

#todoApp h2 {
    font-size: 1.5rem;
    color: var(--accent);
    margin-bottom: 10px;
}

#taskInput {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
}

#taskList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#taskList li {
    background: var(--accent);
    color: var(--background-1);
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li input {
    margin-right: 10px;
}

#logoutBtn .btn {
    margin-top: 10px;
}

/* checkbox */
input[type="checkbox"] {
    accent-color: var(--background-1);
    width: 15px;
    height: 15px;
}

#taskList button {
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.logout {
    padding: 25px 8%;
    background: var(--background-3);
}